In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.metrics import mean_absolute_error
import joblib
from sklearn.model_selection import RandomizedSearchCV
import re
from xgboost import XGBRegressor

In [3]:
df=pd.read_csv("Salary_Dataset_with_Extra_Features.csv")

In [4]:
df

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,Full Time,Android
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,Full Time,Android
...,...,...,...,...,...,...,...,...
22765,4.7,Expert Solutions,Web Developer,200000,1,Bangalore,Full Time,Web
22766,4.0,Nextgen Innovation Labs,Web Developer,300000,1,Bangalore,Full Time,Web
22767,4.1,Fresher,Full Stack Web Developer,192000,13,Bangalore,Full Time,Web
22768,4.1,Accenture,Full Stack Web Developer,300000,7,Bangalore,Full Time,Web
22769,3.8,Thomson Reuters,Associate Web Developer,300000,7,Bangalore,Full Time,Web

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22770 entries, 0 to 22769
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             22770 non-null  float64
 1   Company Name       22769 non-null  object
 2   Job Title          22770 non-null  object
 3   Salary             22770 non-null  int64
 4   Salaries Reported  22770 non-null  int64
 5   Location           22770 non-null  object
 6   Employment Status  22770 non-null  object
 7   Job Roles          22770 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.4+ MB

In [6]:
df.isnull().sum()

Rating               0
Company Name         1
Job Title            0
Salary               0
Salaries Reported    0
Location             0
Employment Status    0
Job Roles            0
dtype: int64

In [7]:
df.shape

(22770, 8)

In [8]:
df=df.dropna()

In [9]:
df.shape

(22769, 8)

In [10]:
df.duplicated().sum()

0

In [11]:
df.describe()

             Rating        Salary  Salaries Reported
count  22769.000000  2.276900e+04       22769.000000
mean       3.918209  6.953656e+05           1.855813
std        0.519686  8.844124e+05           6.823816
min        1.000000  2.112000e+03           1.000000
25%        3.700000  3.000000e+05           1.000000
50%        3.900000  5.000000e+05           1.000000
75%        4.200000  9.000000e+05           1.000000
max        5.000000  9.000000e+07         361.000000

In [12]:
df["Job Title"].unique()

array(['Android Developer', 'Android Developer - Intern',
       'Android Developer - Contractor', ..., 'Web Developer Contractor',
       'Full Stack Web Developer', 'Associate Web Developer'],
      dtype=object)

In [13]:
df['Job Title'].values

array(['Android Developer', 'Android Developer', 'Android Developer', ...,
       'Full Stack Web Developer', 'Full Stack Web Developer',
       'Associate Web Developer'], dtype=object)

In [14]:
df['Salary'].values

array([ 400000,  400000, 1000000, ...,  192000,  300000,  300000],
      dtype=int64)

In [15]:
df["Salaries Reported"].unique()

array([  3,   2,   1,   5,   4,   6,   8,  11,   9,  30,  19,  35,  17,
         7,  43,  24,  21,  15,  14,  13,  12,  10,  26,  29,  18,  16,
        84,  38,  36,  20, 291,  23, 353,  40,  60, 162,  68,  33,  45,
        73, 135, 100,  22,  75,  37,  34,  65, 115,  28, 186,  41,  31,
       188, 149,  77,  76,  52,  39,  83,  25, 361,  42, 280,  74,  44,
       331,  70,  50,  48, 263, 116, 106, 103,  98,  91,  80,  71,  64,
        51,  46,  32,  27], dtype=int64)

In [16]:
df["Location"].unique()

array(['Bangalore', 'Chennai', 'Hyderabad', 'New Delhi', 'Pune', 'Jaipur',
       'Kerala', 'Kolkata', 'Madhya Pradesh', 'Mumbai'], dtype=object)

In [17]:
df["Employment Status"].unique()

array(['Full Time', 'Intern', 'Contractor', 'Trainee'], dtype=object)

In [18]:
df["Job Roles"].unique()

array(['Android', 'Backend', 'Database', 'Frontend', 'IOS', 'Java',
       'Mobile', 'SDE', 'Python', 'Web', 'Testing'], dtype=object)

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le=LabelEncoder()
df['Job Roles']=le.fit_transform(df['Job Roles'])
df['Employment Status']=le.fit_transform(df['Employment Status'])
df['Location']=le.fit_transform(df['Location'])
df['Job Title']=le.fit_transform(df['Job Title'])
df['Company Name']=le.fit_transform(df['Company Name'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_8256\1581216012.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Roles']=le.fit_transform(df['Job Roles'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_8256\1581216012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Employment Status']=le.fit_transform(df['Employment Status'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_8256\1581216012.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location']=le.fit_transform(df['Location'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_8256\1581216012.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Title']=le.fit_transform(df['Job Title'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_8256\1581216012.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Name']=le.fit_transform(df['Company Name'])

In [21]:
df['Job Roles']

0         0
1         0
2         0
3         0
4         0
         ..
22765    10
22766    10
22767    10
22768    10
22769    10
Name: Job Roles, Length: 22769, dtype: int32

In [22]:
df

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,8129,28,400000,3,0,1,0
1,4.5,417,28,400000,3,0,1,0
2,4.0,9777,28,1000000,3,0,1,0
3,3.8,8533,28,300000,3,0,1,0
4,4.4,884,28,600000,3,0,1,0
...,...,...,...,...,...,...,...,...
22765,4.7,3142,1071,200000,1,0,1,10
22766,4.0,6373,1071,300000,1,0,1,10
22767,4.1,3444,264,192000,13,0,1,10
22768,4.1,313,264,300000,7,0,1,10
22769,3.8,9486,91,300000,7,0,1,10

In [23]:
X = df[['Rating', 'Company Name', 'Job Title', 'Salaries Reported', 'Location', 'Employment Status', 'Job Roles']]
y = df['Salary']

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train a Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = model.predict(X_test_scaled)

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

In [24]:
print(mae)

392817.22139208514

In [25]:
model.score(X_test_scaled,y_test)*100,model.score(X_train_scaled,y_train)*100

(4.879953827637995, 85.73620148818296)

In [26]:
#linear regression
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)
# R squared score
score =reg.score(X_train, y_train)*100
print(' Train R-squared:', score)

 Train R-squared: 1.8772524235628807

In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error

# Load dataset
df = pd.read_csv("Salary_Dataset_with_Extra_Features.csv")
df.dropna(inplace=True)

# Features & target
features = ['Rating', 'Company Name', 'Job Title', 'Salaries Reported', 'Location', 'Employment Status', 'Job Roles']
target = 'Salary'
X = df[features]
y = df[target]

# Column types
categorical_cols = ['Company Name', 'Job Title', 'Location', 'Employment Status', 'Job Roles']
numerical_cols = ['Rating', 'Salaries Reported']

# Preprocessor
preprocessor = ColumnTransformer([
    ('num', StandardScaler(), numerical_cols),
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols)
])

# Pipeline
model = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(n_estimators=100, max_depth=30, n_jobs=-1, random_state=42))
])

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model.fit(X_train, y_train)

# Evaluate
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: ₹{mae:.2f}")

Mean Absolute Error: ₹363032.40

In [28]:
model.score(X_train,y_train)*100

70.01804656074135

In [29]:
model.score(X_test,y_test)*100

16.93861934195372

In [30]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.1693861934195372

In [31]:
avg_salary = df["Salary"].mean()
print(f"Average Salary: ₹{avg_salary:.2f}")

Average Salary: ₹695365.58

In [35]:
df = pd.read_csv("Salary_Dataset_with_Extra_Features.csv")
df.dropna(inplace=True)

# Step 1: Feature Engineering - Extract Job Seniority Level
def extract_seniority(title):
    title = title.lower()
    if "intern" in title:
        return "Intern"
    elif "senior" in title or "sr" in title:
        return "Senior"
    elif "lead" in title or "head" in title:
        return "Lead"
    elif "associate" in title:
        return "Associate"
    elif "junior" in title:
        return "Junior"
    else:
        return "Mid"

df["Job Seniority"] = df["Job Title"].apply(extract_seniority)

# Step 2: Outlier Removal using IQR on Salary
q1 = df['Salary'].quantile(0.25)
q3 = df['Salary'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
df = df[(df['Salary'] >= lower_bound) & (df['Salary'] <= upper_bound)]

# Step 3: Define features and target
features = ['Rating', 'Company Name', 'Job Title', 'Salaries Reported', 'Location', 
            'Employment Status', 'Job Roles', 'Job Seniority']
target = 'Salary'

X = df[features]
y = df[target]
y_log = np.log1p(y)  # log transform target

# Identify categorical and numerical columns
categorical_cols = ['Company Name', 'Job Title', 'Location', 'Employment Status', 'Job Roles', 'Job Seniority']
numerical_cols = ['Rating', 'Salaries Reported']

# Preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols)
    ]
)
# XGBoost model with random hyperparameter tuning
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', XGBRegressor(objective='reg:squarederror', random_state=42))
])

# Split the data
X_train, X_test, y_train_log, y_test_log = train_test_split(X, y_log, test_size=0.2, random_state=42)

# Step 4: Hyperparameter tuning
param_grid = {
    'regressor__n_estimators': [100, 200, 300],
    'regressor__max_depth': [4, 6, 8, 10],
    'regressor__learning_rate': [0.01, 0.05, 0.1],
    'regressor__subsample': [0.6, 0.8, 1.0],
    'regressor__colsample_bytree': [0.6, 0.8, 1.0]
}

search = RandomizedSearchCV(model, param_distributions=param_grid, n_iter=10, 
                            cv=3, scoring='neg_mean_absolute_error', n_jobs=-1, random_state=42, verbose=1)

search.fit(X_train, y_train_log)

# Final predictions using best estimator
best_model = search.best_estimator_
y_pred_log = best_model.predict(X_test)
y_pred = np.expm1(y_pred_log)
y_test = np.expm1(y_test_log)

# Evaluation
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae, r2

Fitting 3 folds for each of 10 candidates, totalling 30 fits

(267829.8374013272, 0.1611637886208892)

In [36]:
print(f" Mean Absolute Error: ₹{mae:,.2f}")
print(f" R² Score: {r2:.4f}")

 Mean Absolute Error: ₹267,829.84
 R² Score: 0.1612